<!DOCTYPE html>
<html lang="en">
    {% load static%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2? family=Roboto+Flex:opsz,wght@8.. 144.300;8..144.700&family=Tapestry&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <title>Doctor Test</title>
</head>
<body>
    <header class="header-contenedor" id="inicio">
        <img src="https://img.icons8.com/material-outlined/24/000000/menu--v1.png" id="menu" class="imagenmenu"/>
        
        <nav class="navegation">
            <a href="{% url 'interfaz' %}">Home</a>
            <a href="{% url 'login' %}">login</a>
        </nav>

        <div class="contenedor head">
            <h1 class="title">Servicio Médico desde la comodidad de tu casa</h1>
            <p>Solucion para centros de salud </p>
        </div>
    </header>

    <main>

        <section class="contenedor" id="servicio">
            <h1>¿Que es Doctor Test?</h1>
            <p>Solución de software que permite brindar soporte a centros médicos en el diagnostico de pacientes que solicitan atención por medio de servicio al cliente (Call center). </p>
            <div class="imagenes">
                <img src="{% static 'images/Doctor_Monochromatic.svg' %}" id="imagen" alt="">
                <div class="lista">
                    <div class="servicio"> 
                        <h3 class="serv"><span class="number">1 </span>Agilidad</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima asperiores doloribus, repudiandae ex distinctio praesentium eius necessitatibus deserunt nihil tempore obcaecati explicabo repellat optio ab sunt laudantium delectus non accusamus.</p>
                    </div>
                    <div class="servicio">
                        <h3 class="serv"><span class="number">2 </span> Facilidad</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima asperiores doloribus, repudiandae ex distinctio praesentium eius necessitatibus deserunt nihil tempore obcaecati explicabo repellat optio ab sunt laudantium delectus non accusamus.</p>
                    </div>
                    <div class="servicio">
                        <h3 class="serv"><span class="number">3 </span> Confiable</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima asperiores doloribus, repudiandae ex distinctio praesentium eius necessitatibus deserunt nihil tempore obcaecati explicabo repellat optio ab sunt laudantium delectus non accusamus.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer id="contacto" >
        <div class="footer-content">
            <div class="contacto">
                <h2>Doctor TEST S.A.</h2>
                <p>Salud al alcance de un click</p>
            </div>
        </div>
    </footer>

    <script src="{% static 'js//menu.js' %}"></script>
</body>
</html>