<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>login</title>
</head>
<body>
    <main class="diseño">

        <div class="imagenes"> 
            <div class="login-data">
                
                <h1>Inicio Sesión</h1>

                <form  method="post">
                    {% csrf_token %}
                    <div class="inputs">
                        <label for="">Usuario</label><img src="https://img.icons8.com/office/50/000000/user.png"/>
                        <input type="text" name="username" id="idusername" required>
                        
                    </div>
                    <div class="inputs">
                        <label for="">Constraseña</label><img src="https://img.icons8.com/color/50/000000/password.png"/>
                        <input type="password" name="password" id="idpassword" required>
                        
                    </div>
                    <a href="#">¿Necesitas recuperar Contraseña?</a>
                    <input type="submit" value="Ingresar">
                    
                </form>
            </div>
        </div>

        <div class="login">
            <img src="{% static 'images/Doctor_Isometric.svg' %}" alt="doctor" >
        </div>
    </main>
</body>
</html>